@tailwind base;
@tailwind components;
@tailwind utilities;

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.font-days {
    font-family: 'Days One', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

/* 
.clouds {
   background-image: url('https://images.unsplash.com/photo-1535557597501-0fee0a500c57?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80');
} */